<form class="distance">
  <mat-form-field>
    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let season of filteredSeasons | async" [value]="season">
        <span>{{season.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
    <table mat-table [dataSource]="dataSource" matSort class="distance">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.entity.name}} </td>
      </ng-container>

      <ng-container matColumnDef="games">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Spiele gesamt </th>
        <td mat-cell *matCellDef="let element"> {{element.amountOfGames}} </td>
      </ng-container>

      <ng-container matColumnDef="victories">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Siege </th>
        <td mat-cell *matCellDef="let element"> {{element.amountOfVictories}} </td>
      </ng-container>

      <ng-container matColumnDef="defeats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Niederlagen </th>
        <td mat-cell *matCellDef="let element"> {{element.amountOfDefeats}} </td>
      </ng-container>

      <ng-container matColumnDef="ownHits">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Versenkte Treffer </th>
        <td mat-cell *matCellDef="let element"> {{element.ownHits}} </td>
      </ng-container>

      <ng-container matColumnDef="hostileHits">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Eingesteckte Treffer </th>
        <td mat-cell *matCellDef="let element"> {{element.hostileHits}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>