<div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="team.name">
    </mat-form-field>
</div>
<div>
    <mat-accordion [multi]="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                Mitglieder hinzufügen
            </mat-expansion-panel-header>
            <app-item-list [searchProperty]="'name'" [items]="allAthletes" (selected)="team.members.push($event)"
                [sortProperty]="'name'" [matIcon]="'add'"></app-item-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="distance-top">
    <mat-chip-list>
        <mat-chip *ngFor="let member of team.members" [removable]="true" [selectable]="false" (removed)="removeMember(member)">
            {{member.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>
<div class="distance-top">
    <button mat-raised-button color="primary" *ngIf="new" (click)="create()">Erstellen</button>
    <button mat-raised-button color="primary" *ngIf="!new" (click)="save()">Speichern</button>
    <button mat-raised-button color="warn" *ngIf="!new" (click)="delete()">Löschen</button>
</div>