<div class="app-container">
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Beerpong</span>
  </mat-toolbar>
  <mat-sidenav-container color="primary">
    <!-- <mat-sidenav #drawer fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)" (click)="closeIfDisplayIsSmall()"> -->
    <mat-sidenav #drawer (click)="closeIfDisplayIsSmall()">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/games/new']">
          <mat-icon>fiber_new</mat-icon>Neues Spiel
        </a>
        <a mat-list-item [routerLink]="['/results']">
          <mat-icon>show_chart</mat-icon>Ergebnisse
        </a>
        <a mat-list-item [routerLink]="['/games']">
          <mat-icon>videogame_asset</mat-icon>Spiele
        </a>
        <a mat-list-item [routerLink]="['/athletes']">
          <mat-icon>person_outline</mat-icon>Athleten
        </a>
        <a mat-list-item [routerLink]="['/teams']">
          <mat-icon>people_outline</mat-icon>Teams
        </a>
        <a mat-list-item [routerLink]="['/seasons']">
          <mat-icon>date_range</mat-icon>Saisonen
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Add Content Here -->
      <ng-content></ng-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>