/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.distance {
    margin: 10px;
}

.distance-top {
    margin-top: 10px;
}

.distance-bottom {
    margin-bottom: 10px;
}

.distance-left {
    margin-left: 10px;
}

.distance-right {
    margin-right: 10px;
}

.full-width {
    width: 100%;
}

footer {
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: fixed;
    width: 100%;
}